body {
    padding: 2em;
    text-align: right;
}


.projects {
    color: #252525;
    display: block;
    float: right;
    width: 350px;
    text-align: right;
}


.projects > a {
    color: green;
    display: block;
    padding: 2em;
}

.projects > a:nth-child(2n+1) {
    text-align: left;
    background: #f2f2f2;
}


.projects > a > h2 {
    color: #252525;
}
    