body {
    padding: 2em;
    text-align: right;
    color: #f2f2f2;
}

h1 { color: #f2f2f2; }

.boxes {
    display: block;
    float: right;
    text-align: right;
    font-size: 1.3em;
}

.boxes > a {
    color: green;
    display: block;
    width: 350px;
    padding: 1em;
    background: #f2f2f2;
    border: solid 1px #252525;
}

.boxes > a:hover {
    background: #929292;
}

.boxes > a:nth-child(2n+1) {
    text-align: left;
}

.boxes > a > h2 {
    color: #252525;
}

.boxes > a > p.lang {
    font-size: 0.7em;
    color: #252525;
    padding:0;
}
    